* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

Html {
  Font-size: 62.5%;
  background-color: black;
}

Section {
  Padding: 4% 0;
}

.App {
  text-align: center;
}

.photo-container h1 {
  text-align: center;
  font-size: 4rem;
  padding-top: 3%;
  padding-bottom: 5%;
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55%;
  margin: auto;
}

h1,
h2,
h3,
p {
  color: white;
}